<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="UTF-8">
    <title>Zubut</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  </head>
  <body>
    <noscript>
      <strong>We're sorry but zubutdash doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    
    <div id="app"></div> 
    <section class="footer">
        <i>  2018 Zubut Dashboard 1.0 </i>
    </section>
    <!-- built files will be auto injected -->
  </body>
</html>
