body, .app {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

hr {
    width: 80%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.app {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    flex-basis: 70px;
    background-color: #0B7BFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-header-size {
   color: white; 
   font-size: 1.3em !important;
   margin: 10px;
}

.content {
    flex: 1;
    display: flex;
} 



aside {
    flex-basis: 250px;
    background-color: #37474F;
}

main {
    flex: 1;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
}

.content-main { 
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    width: 100%;
    height: 70px;
    background: #d0d0d0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

 .footer > i {
     color: #868686;
 }


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


aside > ul > li:hover {
     background: #253138;
     border-left: #0B7BFF solid;
}

aside > ul > li > a > span {
    margin-left: 10px;
}

aside > ul > li > a {
    padding: 20px;
    display: block;
    margin-left: 10px;
}

.aside-text {
    color: #F5F5F5;
}

.img {
    width: 84px;
}

.title {
    display: flex;
    justify-content: flex-start;
    margin-left: 56px;
    margin-top: 6px;
}

.blocks {
    display: flex;
    justify-content: space-around;
}

.block-content {
    width: 279px;
    padding: 14px;
    color: white;
}

.block-content:nth-child(1) {
    background: #3b5999;
}
.block-content:nth-child(2) {
    background: #0084ff;
}
.block-content:nth-child(3) {
    background: #55acee;
}

.statistics-blocks {
    padding-top: 14px;
    display: flex;
    justify-content: space-around;
}

.sta-block {
    width: 350px;
    padding: 11px;
    background: #e6e6e6;
}








