<template>
  <div>
        <section class="content-main">  
            <div class="title">
                    <h1>Welcome back!</h1>
            </div>
            <hr>
            <div class="blocks">
                <div class="block-content">
                    <p>{{userCount}}</p>
                    <p>Usuarios activos</p>
                </div>
                <div class="block-content">
                    <p>$ {{totalMoney}}</p>
                    <p>Dinero recabado en el dia </p>
                </div>
                <div class="block-content">
                    <p>{{tripsCount}}</p>
                    <p>Total de viajes </p>
                </div>
            </div>
            
            <div class="statistics-blocks">
                <div class="sta-block">
                    <Bar ref="monthlyIncome"></Bar>        
                </div>   
                <div class="sta-block">
                     <Bar ref="monthlyDeliveries"></Bar>       
                </div>
            </div> 
        </section>  
        
  </div>
</template>

<script>
import { Bar } from 'vue-chartjs'

export default {
  name: 'Dashboard',
  components: {
      Bar
  },
  props: {
    userCount: Number,
    totalMoney: Number,
    tripsCount: Number
  },

  mounted() {
   this.$refs.monthlyIncome.renderChart({
      labels: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
      datasets: [
        {
          label: 'Ingresos mensuales',
          backgroundColor: '#039BE5',
          data: [4000, 34000, 20000, 40000, 25000, 30000, 34543, 50000, 55555, 30000, 40000, 34000]
        }
      ]
    });

   this.$refs.monthlyDeliveries.renderChart({
      labels: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
      datasets: [
        {
          label: 'Entregas mensuales',
          backgroundColor: '#039BE5',
          data: [40, 30, 35, 39, 22, 40, 39, 50, 40, 25, 33, 30]
        }
      ]
    });
  }  



}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>