<template>
  <div>
       <div class="title-trip">
             <h2>Informaci&oacute;n de viajes</h2>
      </div>
       <hr>   
      <div  v-show="render == 'table'" class="content-trip">
                <table class="table-trip">
                    <thead>
                        <tr>
                            <th>Nombre repartidor</th>  
                            <th>Establecimiento</th>
                            <th>Km</th>
                            <th>Tiempo</th>
                            <th>Dinero recabado</th>
                            <th>Acciones</th>
                        </tr>  
                    </thead>
                    <tbody>
                        <tr v-for="trip in trips" :key="trip.id">
                            <td>{{trip.nombre}}</td>  
                            <td>{{trip.establecimiento}}</td>  
                            <td>{{trip.km}}</td> 
                            <td>{{trip.tiempo}}</td>
                            <td>$ {{trip.dinero}}</td>
                          <td>
                                <button @click="updateTrip(trip)"><i class="fa fa-edit"></i></button>
                                <button @click="deleteTrip(trip.id)" > <i class="fa fa-trash"></i></button>
                          </td>
                        </tr>  
                    </tbody>
                </table>   
      </div>
         <div v-show="render == 'table'" class="button">
            <button @click="render = 'form'">Agregar</button>
        </div> 

        <div v-show="render == 'form' || render == 'editForm'" class="form">
               <div class="form-content"> 
                    <div>
                        <label for="nombre">Nombre repartidor</label>
                        <input v-model="formUser.nombre" type="text">
                    </div>
                    <div>
                        <label for="establecimiento">Establecimiento</label>
                        <input v-model="formUser.establecimiento" type="text">
                    </div>
                    <div>
                        <label for="km">Km</label>
                        <input v-model="formUser.km" type="number" step="any">
                    </div>       
                    <div>
                        <label for="tiempo">Tiempo</label>
                        <input v-model="formUser.tiempo"  type="number" step="any">
                    </div>
                    <div>
                        <label for="dinero">Dinero</label>
                        <input v-model="formUser.dinero" type="number" step="any">
                    </div>   
                 <button @click="save()">Guardar</button>   
                 <button style="margin-left: 20px;" @click="render = 'table'">Cancelar</button>
            </div>    
        </div>
  </div>
</template>
<script>
import {Bus} from './bus.js'

export default {
  name: 'Trips',
  props: {
     trips: {type:Array, required:true}
  },
   data() {
       return {
           render: 'table',
            formUser: {
               nombre: '',
               establecimiento: '',
               km: '',
               tiempo: '',
               dinero: ''
           }
       }
   },
    methods: {
        save() {
            if(this.trips.length == 0) {
                this.formUser.id = 1;
            } else if(!this.formUser.id) {
                this.formUser.id = this.trips[this.trips.length -1].id + 1;
                Bus.$emit('saveTrip', this.formUser);
            } else {
                Bus.$emit('updateTrip', this.formUser);
            }
            this.formUser = {
               nombre: '',
               establecimiento: '',
               km: '',
               tiempo: '',
               dinero: ''
           };
           this.render = 'table'; 
        },
         
        deleteTrip(id) {
            Bus.$emit('deleteTrip', id);
        },

        updateTrip(trip) {
            this.formUser = trip;
            this.render = 'editForm';
            
        }  



    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.content-trip {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}   


.table-trip th{
    text-align: left;
    background-color: #0B7BFF;
    color: white;
    padding: 6px;
}
.table-trip td{
    padding: 6px;
}

.table-trip tr:hover {
    background-color: #d0d0d0;
}

.table-trip {
    border-collapse: collapse;
    width: 50%;
}

.title-trip {
    margin-left: 55px;
}

.button {
    margin-left: 220px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form  label {
    margin-right: 10px;
}

.form div {
    padding: 10px;
}

.form-content input {
    width: 100%;
}


.form-content {
    width: 22%;
    border: 1px solid black;
}


</style>



