<template>
    <div>
     <div class="title-users">
           <h2>Informaci&oacute;n de usuarios</h2>
            </div>
            <hr>   
              <div v-show="render == 'table'" class="users-content">
                    <table class="table-users"> 
                            <thead>
                                <tr> 
                                    <th>Nombre</th>
                                    <th>Direcci&oacute;n</th>
                                    <th>Edad</th>
                                    <th>Sexo</th>
                                    <th>Estatus</th>
                                    <th>Acciones</th>
                                </tr>   
                            </thead>
                            <tbody>
                                <tr v-for="user in users" :key="user.id">
                                    <td>{{user.nombre}} </td>
                                    <td>{{user.direccion}}</td>
                                    <td>{{user.edad}}</td>
                                    <td>{{user.sexo}}</td>
                                    <td>{{user.status}}</td>
                                    <td>
                                         <button @click="updateUser(user)"><i class="fa fa-edit"></i></button>
                                        <button @click="deleteUser(user.id)" > <i class="fa fa-trash"></i></button>
                                    </td>
                                    
                                </tr>
                            </tbody>
                    </table>
               </div>
                     <div v-show="render == 'table'" class="button">
                        <button @click="render = 'form'">Agregar</button>
                     </div> 
            <div v-show="render == 'form' || render == 'editForm'" class="form">
                    <div class="form-content">
                        <div>
                            <label for="nombre">Nombre</label>
                            <input required v-model="formUser.nombre" type="text">
                        </div>
                        <div>
                            <label for="direccion">Direcci&oacute;n</label>
                            <input required v-model="formUser.direccion" type="text">
                        </div>
                        <div>
                            <label for="edad">Edad</label>
                            <input required v-model="formUser.edad" type="number">
                        </div>       
                        <div>
                            <label for="sexo">Sexo</label>
                            <select required v-model="formUser.sexo" name="sexo" id="sexo">
                                <option disabled value="">Seleccione una opcion</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                            </select>
                        </div>
                        <div>
                            <label for="estatus">Estatus</label>
                            <select required v-model="formUser.status" name="status" id="status">
                                <option disabled value="">Seleccione una opci&oacute;n</option>
                                <option value="Activo">Activo</option>
                                <option value="Inactivo">Inactivo</option>
                            </select>
                        </div>  
                       <div>  
                            <button @click="save()">Guardar</button>   
                            <button style="margin-left: 20px;"   @click="render = 'table'">Cancelar</button>
                       </div>  
                    </div>    
            </div>
    </div>   
</template>

<script>
import {Bus} from './bus.js'

export default {
  name: 'Users',
  props: {
      users: {type:Array, required:true}
  },
    data() {
        return {
           render:'table',
           formUser: {
               nombre: '',
               direccion: '',
               edad: '',
               sexo: '',
               status: ''
           }
        }
    },

    methods: {
        save() {
            if(this.users.length == 0) {
                this.formUser.id = 1;
            } else if(!this.formUser.id) {
                this.formUser.id = this.users[this.users.length -1].id + 1;
                Bus.$emit('saveUser', this.formUser);
            } else {
                Bus.$emit('updateUser', this.formUser);
            }

            this.formUser = {
               nombre: '',
               direccion: '',
               edad: '',
               sexo: '',
               status: ''
           };
           this.render = 'table'; 
        },
        deleteUser(id) {
            Bus.$emit('deleteUser', id);
        },

        updateUser(user) {
            this.formUser = user;
            this.render = 'editForm';   
        }
    }


}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.users-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.table-users th {
    text-align: left;
    background-color: #0B7BFF;
    color: white;
    padding: 6px;
}
.table-users td {
    padding: 6px;
}

.table-users tr:hover {
    background-color: #d0d0d0;
}

.table-users {
    border-collapse: collapse;
    width: 50%;
}

.title-users {
        margin-left: 55px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form  label {
    margin-right: 10px;
}

.form div {
    padding: 10px;
}
 
.form-content input {
    width: 100%;
}

.form-content {
    width: 22%;
    border: 1px solid black;
}

.button {
    margin-left: 220px;
}

</style>




