<template>
  <div id="app">
       <div class="app">
        <header> 
            <div class="content-header-first">  
                  <a href="index.html"><img class="img" src="logo.jpg"></a>
            </div> 
            <div class="content-header-second">
                  <i class="fa fa-bell icon-header-size"></i>
                  <i class="fa fa-power-off icon-header-size"></i>            
             </div> 
          </header> 
       <div class="content">
          <aside>
              <ul class="aside-text">
                  <li>
                      <a @click="render = 'dash'">
                          <i class="fa fa-dashboard"></i><span>Dashboard</span>
                      </a>
                  </li>
                  <li>
                    <a @click="render = 'users'">
                        <i class="fa fa-user"></i><span>Usuarios</span>
                    </a>
                  </li>
                  <li>
                     <a @click="render = 'trips'">
                         <i class="fa fa-motorcycle"></i><span>Viajes realizados</span>
                    </a>
                  </li>
              </ul>
          </aside>
          <main> 
               <Dashboard :user-count="usersCount()" :total-money="totalMoney()" :trips-count="tripsCount()" v-if="render == 'dash'"></Dashboard>
               <Users :users="users" v-if="render == 'users'"></Users>
               <Trips :trips="trips"  v-if="render == 'trips'"></Trips>


          </main> 
      
       </div>   
    </div>

    <!--<HelloWorld msg="Welcome to Your Vue.js App"/>-->
  </div>
</template>

<script>
import {Bus} from './components/bus.js'
import HelloWorld from './components/HelloWorld.vue'
import Dashboard from './components/Dashboard.vue'
import Users from './components/Users.vue'
import Trips from './components/Trips.vue'


export default {
  name: 'app',
  components: {
    HelloWorld,
    Dashboard,
    Users,
    Trips
  },
   data() {
     return {
         render: 'dash',
         users: [{
               id: 1,
               nombre: "Angel",
               direccion: "Hector hernandez 5712 paseos del sol",
               edad: "23",
               sexo: "Masculino",
               status: "Activo"
           },{
               id:2,
               nombre: "Melissa",
               direccion: "Los portales",
               edad: "20",
               sexo: "Femenino",
               status: "Activo"
           }],
        trips: [{
            id: 1,
            nombre: "Jesus",
            establecimiento: "Burguer king",
            km: 3.5,
            tiempo: 2.0,
            dinero: 150
        },{
            id: 2,
            nombre: "Adrian",
            establecimiento: "Cerveceria chapultepec",
            km: 2.5,
            tiempo: 2.0,
            dinero: 200
        }]
     }
   },
   mounted() {
      Bus.$on('saveUser', user => this.users.push(user)); 
      Bus.$on('updateUser', updatedUser => {
          let user = this.users.find(user => user.id == updatedUser.id);
          user = updatedUser;
      });
      Bus.$on('deleteUser', id => { 
        this.users.find((user, index) => { 
             if(user.id == id) {
                  this.users.splice(index, 1);
             }
         });
      });

    Bus.$on('saveTrip', trip => this.trips.push(trip));
    Bus.$on('updateTrip', updatedTrip => {
          let trip = this.trips.find(trip => trip.id == updatedTrip.id);
          trip = updatedTrip;
    });
    Bus.$on('deleteTrip', id => { 
        this.trips.find((trip, index) => { 
             if(trip.id == id) {
                  this.trips.splice(index, 1);
             }
         });
    });
   },
   methods: {
       usersCount() {      
           return this.users.filter(user => user.status == "Activo").length;
       },
       totalMoney() {
          return this.trips.reduce((val1, val2) => { 
             return  val1 + val2.dinero
          }, 0);
       },
       tripsCount() {
         return this.trips.length;
       }
   }
}
</script>

<style>

</style>
